body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .player {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
  }

  .player i {
    display: block;
    margin-top: 20px;
  }

  .player h3 {
    margin-top: 10px;
  }

  #overall-score {
    font-size: 24px;
  }